@use '../../styles/variables';
@use '../../styles/mixins';

.backLink {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  width: fit-content;
  position: relative;
}

.backIcon {
  opacity: 0;
  position: absolute;
  left: -10px;
  transition: all 0.3s;
}

.backLink:hover .backIcon {
  opacity: 1;
  left: -30px;
}

.innerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  position: relative;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  flex-direction: column;

  @include mixins.mq(smartphone-large) {
    flex-direction: row;
  }
}

.title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.links {
  margin: 10px 0;
}

.technologiesTitle,
.descriptionTitle {
  color: #fff;
  margin: 5px 0;
  font-size: 1.3rem;
}

.descriptionTitle {
  margin-top: 20px;
}

.technologiesList {
  display: flex;
  flex-wrap: wrap;
}

.description {
  color: #fff;
  font-size: 1.6rem;
}

.imageContainer {
  padding: 40px;
  position: relative;
}

.technologyItem {
  background: #070b69;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.5rem;

  &:first-child {
    margin-left: 0;
  }
}

.links {
  color: variables.$main-purple-color;
  font-size: 1.4rem;
  margin: 20px 0;

  a {
    margin-right: 5px;
  }
}
